<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/public/css/burger_style.css" type="text/css" />
		<!-- jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="./css/materialize.css"  media="screen,projection"/>
		<!--My css -->
		<link type="text/css" rel="stylesheet" href="./css/style.css"  media="screen,projection"/>
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/b448568d58.js" crossorigin="anonymous"></script>

		<title>Eat Da Burger</title>
	</head>

	<body>
		{{{ body }}}
	</body>
	
</html>