body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/burgerpic.jpg);
}

.uneaten-burger-list {
    background: #a89c96d2;
}

.eaten-burger-list {
    background: #a89c96d2;
}

main {
    flex: 1 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
}


.burger-label {
    color: black;
}

.createBurger {
    background: #a89c96d2;
}

.cr-brg-h4 {
    color: #2e7d32;
    margin: 0;
}

.reorderBtn {
    padding: 0;
}

.deleteBtn {
    padding: 0;
}

.eat-burger {
    margin-right: 10px;
    margin-left: 10px;
}



@media only screen and (max-width: 480px) {
  
    #appname {
      font-size: 18pt;
    }
}

@media only screen and (max-width: 390px) {
  
    #appname {
      font-size: 15pt;
    }
}
