<li>
	<i class="tiny material-icons" style="color: #2e7d32;">fastfood</i>

	{{name}}

	{{#unless eaten}}
		<button class="eat-burger btn-floating btn-small pulse green darken-3 white-text" style="border: none" data-id="{{id}}"> 
			Eat
		</button>
	{{/unless}}

	
	<button class="delete-burger" style="color: black; background: transparent; border: none;" data-id="{{this.id}}"><i class="tiny material-icons">delete</i></button>
	
</li>
